{% extends 'base.html' %}
{% block fc %}
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" href="#">TODO APP</a>
</nav>
<div class = "continer">
    <div class ="rows">
        <div class = "col-md-6">
            <div class="card card-body h-100">
            <form method="post">
                {% csrf_token %}
                {{form.as_p}}
                <input type ="submit" value="ADD TASK" class ="btn btn-primary btn-lg",name ="content">
            </form>            
            <hr>
                <ul class="list-group">
                    {% for tas in tasks %} 
                    <li class="list-group-item">{{tas.todo}}</li><br>
                    {% endfor %}
                </ul>
            </hr>
            
               

            </div>
            
        </div>
    </div>

</div>



{% endblock %}

